.bg-dark {
  background-color: #262626 !important;
}

.color-primary {
  color: #dbbb00;
}

.svg-icon {
  width: 10rem;
}

.nav-link {
  color: #dbbb00 !important;
  font-weight: 700;
}


.nav-link:hover {
  color: white !important;
}

.img-logo {
  width: 200px;
}

.img-logo-customs {
  width: 150px;
}

header {
  border-bottom: 2px solid;
  border-color: #dbbb00;
}

footer {
  /*height: 8px;
  background-image: url("../img/bar.png");
  background-repeat: repeat-x;*/
  border-top: 6px solid;
  border-color: #dbbb00;
}

@media (max-width: 768px){
  .img-logo {
    width: 160px;
  }

  .img-logo-customs {
    width: 90px;
  }

  .p-5 {
    padding: 5rem! important;
  }
}
