body {
  background-color: #ffc107;
}

header {
  border-bottom: 2px solid;
  border-color: #dbbb00;
}

footer {
  border-bottom-style: solid;
  border-bottom-color: #B78400;
  border-bottom-width: 8px;
}

.bg-dark {
  background-color: #262626 !important;
}

.color-primary {
  color: #dbbb00;
}

.btn-transparent {
  color: #f8f9fa;
  border-color: #ffc107;
}

.btn-transparent:hover {
  color: #ffc107;
}

.col-web {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-logo {
  width: 200px;
}

.navbar {
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.con-main {
  border-top-color: #B78400;
  border-top-style: solid;
  border-top-width: 8px;
}

#colMinero {
  padding: 0px;
}

#colCustoms {
  padding: 0px;
}

@media (max-width: 768px){
  .img-logo {
    width: 160px;
  }
  .img-logo-minero {
    width: 240px;
  }

  .img-logo-customs {
    width: 200px;
  }
  .navbar {
    height: 0px;
    padding: 0px;
  }

  #colMinero {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1920px) {

}
